.DS_Store
.idea
.ipynb_checkpoints
.coverage
*.egg-info

*.csv
*.tsv
*.pdb
*.cif
*.pk
*.pt
*.fasta
*.pickle
*.pyc
*.mp4

*.constraints
*.movemap
*.resfile
test_cmd.sh

__mmtf__
__pycache__
public
htmlcov
make.bat
examples
chroma/layers/structure/params/centering_2g3n.params
wandb
config.json

# ides
.vscode
